@media (max-width: 768px) {

.hero {
    height: auto;
    padding: 60px 20px;
}

}

@import "variables";
@import "mixins";
@import "components";

body {
    font-family: $font-principal;
}

h2 {
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto;
    max-width: 120px;
}